doctype html
head
  title Heya

  link(rel="stylesheet", href="styles/scss/style.min.css", type="text/css")
body 
  nav.navigation
    a(href="https://mdjurdjevic.me") My Website 
    a(href="shears.herokuapp.com") My Other Website
    a(href="https://learn.co") That Coding Bootcamp
  div.me 
    h1 This is my pages
    p Heya, this is a great website isn't it!
    input(type="email", placeholder="your email")
    input(type="submit")
    br
    br 
    div.content
      div.mini
        h1 mini div here 
        p this is a great div though
      div.mini_2
        h1 another mini div!
        p wow this one has stuff 
