$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  div.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  div.mini {
    flex: 1;
    border: 1px solid black;
  }
  div.mini_2 {
    flex: 2;
    border: 1px solid black;
  }
}
}
