$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$black-border: 1px solid black;

body {
  font: 100% $font-stack;
  color: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  nav.navigation {
    display: flex;
    a {
      flex: 1;
      border: $black-border;
      text-decoration: none;
      padding: 0.5em;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  div.me {
    flex: 1;
    div.content {
      min-height: 50vh;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      div.mini {
        flex: 1;
        padding: 1em;
        border: $black-border;
      }
      div.mini_2 {
        flex: 2;
        padding: 1em;
        border: $black-border;
      }
    }
  }
  footer {
    display: flex;
    border-top: $black-border;
    background-color: silver;
    p {
      flex: 1;
    }
  }
}
