$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  nav.navigation {
    display: flex;
    a {
      flex: 1;
      border: 1px solid blue;
      text-decoration: none;
      padding: 0.5em;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  div.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  div.mini {
    flex: 1;
    border: 1px solid black;
  }
  div.mini_2 {
    flex: 2;
    border: 1px solid black;
  }
}
}
